<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <h:head>
        <title>#{msgs.pageTitle}</title>
        <h:outputStylesheet library="css" name="styles.css" />
    </h:head>
    <h:body>
        <h1>#{msgs.pageHeader1}</h1>
        <h:form id="jsfExerciseForm" >
            <h:panelGrid columns="3" cellpadding="1" border="0" cellspacing="10"
                         title="#{msgs.signup}">
                <f:facet name="header">
                    <h:outputText value="#{msgs.signup}" />
                </f:facet>

                <h:outputLabel for="name" value="#{msgs.name}"/>
                <h:inputText id="name" label="#{msgs.name}"
                             value="#{personBacking.person.name}"
                             required="true"
                             requiredMessage="#{msgs.required}" >
                    <f:validateLength maximum="45" />
                </h:inputText>
                <h:message for="name" style="color:red" />

                <h:outputLabel for="age" value="#{msgs.age}"/>
                <h:inputText id="age" label="#{msgs.age}"
                             value="#{personBacking.person.age}"
                             required="true"
                             requiredMessage="#{msgs.required}">
                    <f:convertNumber />
                    <f:validateLongRange minimum="20" maximum="90" />
                </h:inputText>

                <h:message for="age" style="color:red" />

                <h:outputLabel for="height" value="#{msgs.height}"/>
                <h:inputText id="height" label="#{msgs.height}"
                             value="#{personBacking.person.height}"
                             required="true"
                             requiredMessage="#{msgs.required}" >
                    <f:convertNumber />
                    <f:validateLongRange minimum="50" maximum="300" />
                </h:inputText>
                <h:message for="height" style="color:red" />

                <h:outputLabel for="weight" value="#{msgs.weight}"/>
                <h:inputText id="weight" label="#{msgs.weight}"
                             value="#{personBacking.person.weight}"
                             required="true"
                             requiredMessage="#{msgs.required}">
                    <f:convertNumber />
                    <f:validateLongRange minimum="75" maximum="400" />
                </h:inputText>
                <h:message for="weight" style="color:red" />

                <h:outputLabel for="hairColour" value="#{msgs.hairColour}"/>
                <h:inputText id="hairColour" label="#{msgs.hairColour}"
                             value="#{personBacking.person.haircolour}"
                             required="true"
                             requiredMessage="#{msgs.required}" >
                    <f:validateLength maximum="25" />
                </h:inputText>
                <h:message for="hairColour" style="color:red" />

            </h:panelGrid>
            <h:commandButton id="saveButton" value="#{msgs.save}"
                             action="#{personBacking.createPerson()}" />

        </h:form>

    </h:body>
</html>

