<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>#{msgs.pageTitle}</title>
    </h:head>
    <h:body>
        <h1>#{msgs.pageHeader2}</h1>
        <h:form id="jsfExerciseForm"  >
            <p:growl  id="growl" showDetail="false" sticky="true" />  
            <h:panelGrid columns="2" styleClass="centered-panel" >
                <p:panel id="primepanel" header="#{msgs.signup}" >

                    <h:panelGrid columns="2" cellpadding="1" border="0" >

                        <p:outputLabel for="name" value="#{msgs.name}"/>
                        <p:inputText id="name" label="#{msgs.name}"
                                     value="#{personBacking.person.name}"
                                     required="true"
                                     requiredMessage="#{msgs.required}" >
                            <f:validateLength maximum="45" />
                        </p:inputText>

                        <p:outputLabel for="age" value="#{msgs.age}"/>
                        <p:inputText id="age" label="#{msgs.age}"
                                     value="#{personBacking.person.age}"
                                     required="true"
                                     requiredMessage="#{msgs.required}" >
                            <f:convertNumber />
                            <f:validateLongRange minimum="20" maximum="90" />
                        </p:inputText>

                        <p:outputLabel for="height" value="#{msgs.height}"/>
                        <p:inputText id="height" label="#{msgs.height}"
                                     value="#{personBacking.person.height}"
                                     required="true"
                                     requiredMessage="#{msgs.required}" >
                            <f:convertNumber />
                            <f:validateLongRange minimum="50" maximum="300" />
                        </p:inputText>

                        <p:outputLabel for="weight" value="#{msgs.weight}"/>
                        <p:inputText id="weight" label="#{msgs.weight}"
                                     value="#{personBacking.person.weight}"
                                     required="true"
                                     requiredMessage="#{msgs.required}">
                            <f:convertNumber />
                            <f:validateLongRange minimum="75" maximum="400" />

                        </p:inputText>

                        <p:outputLabel for="hairColour" value="#{msgs.hairColour}"/>
                        <p:inputText id="hairColour" label="#{msgs.hairColour}"
                                     value="#{personBacking.person.haircolour}"
                                     required="true"
                                     requiredMessage="#{msgs.required}">
                            <f:validateLength maximum="25" />
                        </p:inputText>

                    </h:panelGrid>
                    <p:commandButton id="primebutton" value="#{msgs.save}"
                                     style="display: block;margin: 0 auto;"
                                     action="#{personBacking.createPerson()}" ajax="false" />

                </p:panel>
            </h:panelGrid>
        </h:form>

    </h:body>
</html>

